body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(24, 24, 24, 0.414)),
    url(./images/soccer-vector-stadium_225004-1131.avif);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
}

#seven {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}



#seven h1 {
    font-size: 15vh;
    margin-bottom: 0;
    margin-top: 0;
        font-family: "Acme", sans-serif;
        font-weight: 400;
        font-style: normal;
    color: #ffef3a;
text-shadow: 0 0 10px #FFFFFF;

}

#seven h4 {
    margin-top: 0;
    font-weight: 100;
    font-size: 25px;
    font-family: "Acme", sans-serif;
    color: #ffe3e3;
text-shadow: #2a2a2a 1px 1px; 
letter-spacing: 1px;
    
}

#seven button {
    margin: 30px;
    padding: 10px;
    color: rgb(216, 117, 117);
    border-radius: 1px;
    background-color: #171717;
    font-size: large;
    background-image: linear-gradient(144deg,#ffb340, #f3ed42 50%,#eb9500);    
    
}

a {
    font-family: "Acme", sans-serif;
    color: rgb(17, 17, 17);
    text-decoration: none;
}

#benifits {
    margin-top: 0;
    background-color: #f8c14a;
    text-align: center;
    font-size: 30px;
}

#benifits h1 {

    margin-bottom: 20px;
    color: #333333;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    font-family: "Acme", sans-serif;
    padding-top: 40px;
    margin-top: 0;
}

#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  margin: 3px;
}

#card h1 {
    font-family: "Acme", sans-serif;
    margin-top: 0;
    color: #2c2927;
    font-size: 25px;
}


#card h4 {
    color: #121212;
    font-size: 15px;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    
}


#one .icon {
    padding: 20px;
    background-color: #f3d97a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 40px;
    border: 2px solid black;
}

#one button {
    margin: 20px;
    padding: 10px;
    font-size: 15px;

    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
}

#about {
    background-color: #fbe8a6;
    margin: 0;
    text-align: center;
    padding: 50px;
}

#about h2 {
    font-family: "Acme", sans-serif;
    margin-top: 0;
    text-align: center;
    color: #2c2927;
    font-size: 30px;
    padding-top: 20px;
}

#about p {
    text-align: center;
    color: #2c2927;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 0;
}

#about button {
    justify-content: center;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 2px;
    border: solid 0.1px rgb(204, 204, 204);
    background-color: #ffffff;
    font-size: 15px;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    background-image: linear-gradient(rgba(93, 56, 56, 0.84), rgba(61, 52, 52, 0.84) 20%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(201, 165, 132, 0.4) 0 8px 12px;
}

#anchor{
    color: white;
}

#getin {
    padding: 50px;
    background-image: linear-gradient(rgba(13, 13, 13, 0.823), rgba(24, 24, 24, 0.712)),
        url(./images/dhoni.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: center;
    background-size: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow:10px 10px 20px 5px #fec731;
}

#getin h1 {
    font-family: "Acme", sans-serif;
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

#getin p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
}

#getin button {
    margin-top: 12px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: rgb(245, 0, 0);
    border-radius: 10px;
    border: solid 0.1px rgb(22, 65, 235);
    font-size: 15px;

}



#disclaimer {
    padding: 70px;
    background-color: rgb(253, 241, 194);
    text-align: center;
    color: #2c2927;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
   
    box-shadow:10px 10px 20px 5px #fec731;
}

#disclaimer p {
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 0.1px;
    font-weight: 100;
    margin-top: 0;
}

#disclaimer br {
    margin: 30px;
}

#disclaimer h4 {
    margin-bottom: 0;
}

/* Media Queries for responsiveness */

/* ------------------------------------------------------ */

/* @media  (max-width:1700px) 
 {
   
    
#seven {
    height: 80vh;
}

#seven h1 {
    font-size: 10vh;
}

#seven h4 {

    margin-top: 15px;
    font-size: 25px;
}

#seven button {
    padding: 15px;
    font-size: 15px;
}




} */


/* --------------------------------------------------------------------------- */

@media  (max-width:1400px) 
 {
    
 
#seven {
   
    height: 100vh;
  
}

#seven h1 {
    font-size: 10vh;
}

#seven h4 {

    margin-top: 10px;
    font-size: 22px;
}

#seven button {
    padding: 15px;
    font-size: 15px;
}
}


/* ---------------------------------------------------------------------------- */

/* @media  (max-width:1100px) 
 {
    
#seven {
   
    height: 50vh;
  
}
#seven h1 {
    font-size: 6vh;
}

#seven h4 {

    margin-top: 10px;
    font-size: 20px;
}

#seven button {
    padding: 15px;
    font-size: 15px;
} */






/* ---------------------------------------------------------------------------*/



@media  (max-width:900px) 
 {
    body{
        background-size: 100%;
    }
#seven {
   
    height: 80vh;
  
}
#seven h1 {
    font-size: 6vh;
}

#seven h4 {

    margin-top: 10px;
    font-size: 20px;
}

#seven button {
    margin: 0px;
    padding: 15px;
    font-size: 15px;
}



}


/* ------------------------------------------------------------------- */

@media  (max-width:900px) 
 {
    body{
        background-size: 100%;
    }
#seven {
   
    height: 60vh;
  
}
#seven h1 {
    font-size: 5vh;
}

#seven h4 {

    margin-top: 15px;
    font-size: 15px;
}

#seven button {
    padding: 12px;
    font-size: 15px;
}



}



/* ------------------------------------------------------------------- */

@media (max-width:700px) {
    
    
    #seven{
        height: 70%;
    }

    #seven h1{
        font-size: 60px;
    }

#head{
    margin-bottom: 60px;
    font-size: 36px;
}

#card {
    display: block;
}

#card h1 {
    font-size: 30px;
}

#card h4 {
    font-size: 18px;
}


#one button {
    padding: 15px;
    font-size: 15px;
    margin-bottom: 30px;
}



#about{
    padding: 10px;
    margin-bottom:0px ;
}

#about h1 {
    font-size: 40px;
}

#about p {
    font-size: 17px;
    padding: 0px;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 600;
}

#about button {
 
    margin: 30px;
    padding: 15px;
    font-size: 15px;
}



#getin {
    background-size: 200%;
    padding: 20px;
}

#getin h1 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#getin p {
    font-size: 15px;
}

#getin button {
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 40px;
}



#disclaimer {
    padding: 30px;
}

#disclaimer p {
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 0.1px;
    font-weight: 100;
    margin-top: 0;
}

#disclaimer br {
    margin: 30px;
}

#disclaimer h4 {
    margin-bottom: 0;
}


}





@media  (min-width:300px) and (max-width:700px) 
 {


    #seven {
        height: 60%;
    }

 }

 hr{
    margin: 30px;
    color: black;
    background-color: black;
 }